#rawdata nz-select {
    width: 100%;
}

#rawdata nz-col{
    padding: 0 15px;
}

#rawdata nz-row.row-container{
    margin: 1.5em 0;
}

#rawdata i.setting {
    font-size: 26px;
    cursor: pointer;
    padding-top: 3px;
    color: #d92027;
}


#rawdata ul {
    display: flex;
    list-style-type: none;
}

#rawdata ul li{
   padding: 0 5px;
}

#rawdata ul li:last-child {
    padding: 0 25px;
 }
 svg.svg-inline--fa{
    margin-top: 1.5em;
 }

 svg.svg-inline--fa.fa-times.fa-w-11 {
    width: 1.2em;
}

svg.svg-inline--fa.fa-edit.fa-w-18{
    margin-top: 0;
    margin-bottom: 4px;
    margin-left: 7px;
}

svg.svg-inline--fa.fa-plus-circle.fa-w-16{
    margin-left: 10px;
    width: 2%;
    margin-top: 0;
}
svg.svg-inline--fa.fa-trash-alt.fa-w-14{
    margin-top: 0;
    margin-left: 10px;
    width: 1.7%;
}

