<nav class="navbar navbar-expand-sm bg-seabank">
    <div class="container">
          <div class="logo-seabank">
              <a class="nav-link" href="#">
                  <img class="img-responsive" src="assets/logo-seabank.png" alt="">
                </a>
          </div>
             <div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                       <a class="nav-link"  [routerLink]="['/rawdata']">Tham số</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link" [routerLink]="['/rawdata']">Raw data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/rawdata']">CAR</a>
                     </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/rawdata']">Lịch sử điều chỉnh</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/rawdata']">Quản lý tài khoản</a>
                     </li>
                 </ul>
             </div>
      </div>
 </nav>