/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body, *{
    padding: 0;
    margin: 0;
}

*:not(i){
    font-family: 'Roboto', sans-serif;
}

label{
    font-weight: bold;
}