/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body, *{
    padding: 0;
    margin: 0;
}

*:not(i){
    font-family: 'Roboto', sans-serif;
}

label{
    font-weight: bold;
}

.ant-modal-header{
    background: #d92027;
    text-align: center;
}

.ant-modal-close:focus, .ant-modal-close:hover {
    outline: none;
}

.ant-modal-close-x{
    display: none;
}

svg{
    transition: all 0.5s;
    transform-origin: 50% 50%;
}
svg:hover{
    transform: scale(1.2);
}